{% macro newsContainer(display_name, images, songs, id, duration) -%}
<div class="newsContainer" id="{{ id }}">

    <!-- Title -->
    <aboveLeft class="aboveLeft">
        https://github.com/emma-t/newspaperify
    </aboveLeft>
    <aboveRight class="aboveRight">
        {{currentTime|strftime}} ISSUE
    </aboveRight>
    <lineTop class="lineTop">
        <br>---------------------------------------------------------</br>
    </lineTop>
    <h2 class="logo">
        NEWSPAPERIFY
    </h2>
    <subTitle class="subTitle">
        SPOTIFY TRACK GENERATOR OF {{ duration }}
    </subTitle>
    <lineBot class="lineBot">
        <br>---------------------------------------------------------</br>
    </lineBot>
    
    <table class="tracks">
        <thead>
            <tr>
                <td quote width="300px" class="quote">
                    "Top song: {{ songs[0].name }}" 
                </quote>
                <td width="300px" class="begin" style="text-align: center;">
                    <img src={{ images[0].url }} style="object-fit: cover; width: 200px; height: 200px;"/>
                </td>
            </tr>

            <tr>
                <td>
                    <br>
                    - {{ songs[0].artists[0].name }}
                    </br>

                    <br>
                    Here are some of the trending songs in the news today:
                    </br>
                </td>
                <td quote class="quote">
                    "I really like these songs"
                </td>
            </tr>

            <tr>
                <td class="name"> </td>
                <td class="name" rowspan=10>
                    <br>- {{ display_name }}</br>
                    <br>Thank you for taking the time to read our article. At <b>Newspaperify</b>, we are dedicated to bringing you the latest news and insights on a variety of topics. We hope that you found our article informative and engaging, and that it provided you with valuable information that you can use in your daily life. Your support and readership are greatly appreciated, and we look forward to continuing to serve you in the future. Thank you again for choosing <b>Newspaperify</b> as your trusted source for news and information.</br>
                </td>
            </tr>
            
            {% for song in songs %}
            <tr>
                <td class="begin">
                    <b>{{ loop.index }}</b> {{ song.name }} by {{ song.artists[0].name }}
                </td>
            </tr>
            {% endfor %}

        </thead>
    
    </table>

</div>

{%- endmacro %}